<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <!-- IMPORTY CZĘŚCI -->
        <xacro:include filename="macros/colors.xacro" />
        <xacro:include filename="macros/inertial_macros.xacro" />
        <xacro:include filename="parts/wheel_left.xacro" />
        <xacro:include filename="parts/wheel_right.xacro" />
        <xacro:include filename="parts/camera.xacro" />
        <xacro:include filename="parts/depth_camera.xacro" />
    <!-- -------------------------------------- -->

    <!-- DEFINIOWANIE STAŁYCH -->
        <xacro:property name="wheel_radius" value="0.04" />
        <xacro:property name="wheel_length" value="0.05" />
        <xacro:property name="wheel_color_name" value="red" />
        <xacro:property name="wheel_color_rgb" value="${xacro:call('material_color', wheel_color_name)}" />
    <!-- -------------------------------------- -->

    <!-- BASE LINK - STAŁY LINK DO KTÓREGO BĘDĄ PODŁĄCZONE WSZYSTKIE CZĘŚCI -->
    <!-- NIE JEST ON RUCHOMY, NIC W NIM NIE DEFINIUJEMY, POTRZEBY DO ODOM PÓŹNIEJ -->

        <link name="base_link">
        </link>

    <!-- -------------------------------------- -->

    <joint name="rover_body_joint" type="fixed">
        <parent link="base_link" />
        <child link="rover_body" />
        <origin xyz="0 0 0" rpy="0 0 0" />
    </joint>

    <!-- DEFINIOWANIE WSZYSTKICH CZĘŚCI ROBOTA -->

        <link name="rover_body">
            <visual>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <mesh filename="file://$(find trailblazerml)/models/rover_stl/body.stl" scale="1 1 1"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 0" rpy="0 0 0" />
                <geometry>
                    <box size="1 1 1">
                </geometry>
            </collision>
            <xacro:inertial_box mass="0.5" x="0.3" y="0.3" z="0.15">
                <origin xyz="0.15 0 0.075" rpy="0 0 0"/>
            </xacro:inertial_box>
        </link>

    <!-- -------------------------------------- -->

</robot>